html {
	font-family: "Vollkorn", serif;
}

body, table, td, tr {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: blue;
}

hr {
	background-color: crimson;
	width: 100%;
	height: 2px;
	border: 0px solid crimson;
	margin-top: 10px;
	margin-bottom: 10px;
}

p{
	margin-top: 0px;
	margin-bottom: 0px;
}

img{
	margin: 0px;
	padding: 0px;
}

.portfolioImg{
	padding: 10px;
}

#banner {
	width: 100%;
	background-color: crimson;
	color: white;
}

#bannerleft {
	display: table;
	float: left;
}

#bannerright {
	float: right;
}

#icon {
	display: table-cell;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 10px;
}

#icon:hover {
	cursor:pointer;
}

#status {
	vertical-align: middle;
	float: left;
	font-size: 20;
	color: white;
	text-decoration: none;
}

#links {
	display: inline-block;
	vertical-align: middle;
	font-size: 18;
}

.bannerLink {
	color: white;
}

.bannerLink:visited {
	color: white;
}

#portfolioLinks {
	display: inline-block;
	vertical-align: middle;
	font-size: 18;
	color: crimson;
}

#contentborder {
	margin: 10px;
	border: 2px crimson solid;
}

#content {
	text-rendering: auto;
	padding: 0px;
	margin: 10px;
	text-align: justify;
}

input[type=text], input[type=password] {
	padding:5px;
	border:2px solid grey;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=text]:hover, input[type=password]:hover {
	border-color: crimson;
}

input[type=text]:focus, input[type=password]:focus {
	border-color: black;
}

input[type=button] {
	padding:5px 15px;
	border:2px solid grey;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=button]:hover {
	border-color: crimson;
}

input[type=button]:focus {
	border-color: black;
}

textarea {
	padding:5px 15px;
	border:2px solid grey;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

textarea:hover {
	border-color: crimson;
}

textarea:focus {
	border-color: black;
}

*:focus {
	outline:none;
}

