body {
	margin: 0px;
}

input {
	margin: 5px;
}

button {
	margin: 5px;
}

#theMap {
	border: 2px darkblue solid;
	height: 96vh;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#poiLongitude, #poiLatitude {
	display: inline-block;
}

#banner {
	background-color: lightblue;
	border-left: 2px darkblue solid;
	border-top: 2px darkblue solid;
	border-right: 2px darkblue solid;
	height: 3vh;
}

.result {
	color: red;
}

.innerModal {
	pointer-events:all;
	padding-left:20px;
	padding-bottom:20px;
	padding-right:20px;
	background-color:lightblue;
	margin-left:50px;
	margin-top:50px;
	text-align:center;
	border:2px solid darkblue;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=text], input[type=password] {
	padding:5px;
	border:2px solid grey;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=text]:hover, input[type=password]:hover {
	border-color: darkblue;
}

input[type=text]:focus, input[type=password]:focus {
	border-color: black;
}

input[type=button] {
	padding:5px 15px;
	border:2px solid grey;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=button]:hover {
	border-color: darkblue;
}

input[type=button]:focus {
	border-color: black;
}

textarea {
	padding:5px 15px;
	border:2px solid grey;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

textarea:hover {
	border-color: darkblue;
}

textarea:focus {
	border-color: black;
}

*:focus {
	outline:none;
}

